/* src/components/ClothingCard.css */
.clothing-card {
  display: flex;
  border: 1px solid #ddd;
  /* border-radius: 8px; */
  padding: 16px;
  max-width: 400px;
}

.clothing-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin: 4px;
}

.clothing-info {
  display: flex;
  flex-direction: column;
}

.clothing-info h2 {
  margin: 0;
  font-size: 1.2em;
}

.clothing-info ul {
  list-style-type: none;
  padding: 0;
  margin-top: 14px;
}

.clothing-info ul li {
  color: #818489;
  margin: 4px 0;
}
